<html>
	<head>
		<title> Commands </title>

		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

		<link title="no title" media="all" charset="utf-8" href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	</head>



	<body>

		<h3 border="1"> {{ comm_list['name'] }} </h3>
		{% for comm in comm_list['commands'] %}

		<div collapsible="true"> {{ comm['description'] }}</div>

		<table border="1" width="100%">
		<tr>
			<td>
				<pre style="white-space: pre-wrap; word-wrap: break-word;">{% if meta['uid']!=0 %}${% else %}#{% endif %} {{ comm['command'] }}</pre>

			</td>

		</tr>

		<tr>
			<td><pre style="white-space: pre-wrap; word-wrap: break-word;">{{ comm['response'] }}</pre>
			</td>

		</tr>

		</table>

		<br><br>

		{% endfor %}


	</body>

</html>