<html>
	<head>
		<title> Commands </title>

		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

		<link title="no title" media="all" charset="utf-8" href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	</head>



	<body>


		
	{% for comm_list in command_array %}

<!---		{{ comm_list }}		-->
	<h3 border="1"> {{ comm_list['name'] }} </h4>
		{% for comm in comm_list['commands'] %}
		<div collapsible="true"> {{ comm['description'] }}</div>

		<table border="1" width="100%">
		<tr>
			<td>
				<pre style="white-space: pre-wrap; word-wrap: break-word;">$ {{ comm['command'] }}</pre>

			</td>

		</tr>

		<tr>
			<td><pre style="white-space: pre-wrap; word-wrap: break-word;">{{ comm['response'] }}</pre>
			</td>

		</tr>

		</table>
		<br><br>

		{% endfor %}

	{% endfor %}

	</body>


</html>