
<html>

	<head>
		<title> Remoter-py </title>

		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

		<link title="no title" media="all" charset="utf-8" href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">

		<style>
		{% if meta['uid']!=0 %}
		body {
		    background-color: #BBFFBA;
		}
		{% else %}
		body {
		    background-color: #FF4136;
		}
		{% endif %}
		</style>
	</head>


	<body bgcolor="">
		
	<table border="0" width="100%" height="100%">

	<tr height="10%">
	<td>
		<h3 align="center">Remoter-py</h3>
		<h5  align="center">version 
		{{ meta['version'] }}</h5>
	</td>
	<td align="center">
		<table><tr>
		<h5> Scan for <u><b>'{{ meta['kernel'] }}' </b></u></h5>
		<h4>	Executed as: <b>{{ meta['username'] }}</b> at <b>{{ meta['date'] }}</b> </h4>
		</tr>
		<tr>	<!-- Search Button -->
			<td width="50%"></td>
			<td align="center" width="50%">
			<form action="search/" method="post">
			<input name="keyword" type="text">
			<input  type="submit" text="Search">
			</form>
			</td>
		</tr>
		</table>

	</td>
	</tr>

	<tr height="90%">

<!--
	<td  height="100%" width="20%">	<iframe width="100%" height="100%" src="/groups"> </iframe></td>
-->
	<td>
	<table border="1" width="100%" height="100%">
	{% for x in command_array %}

	<tr height="20%">	<!-- Groups -->
		<td  height="20%">
		<a href="/command/{{ x['filename'] }}" target="commands-frame"> {{ x['name'] }} </a>
		</td>

	</tr>
	{% endfor %}


	</table></td>

	<td  height="100%" width="80%">	<iframe width="100%" height="100%" src="/command/{{ command_array[0]['filename'] }}" name="commands-frame"> </iframe></td>

	</tr>


	</table>

	</body>
</html>